.header-back{
    background-color:#EAEAEA; height: 150px;
}
.travler-logo{
    font-family: 'NexaBlack', Serif; color: #59159B;
}
.header-logo{
    margin-top: 15px;
}
.header-p{
   font-family: 'PT Sans',Serif; color: #969696; font-size: 10px;
}